* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	margin: auto;
}
body {
	font-family: "helvetica",sans-serif;
	font-weight: 100;
	font-size: 16px;
	/*max-width: 320px;*/
	width: 100%;
	overflow-x: hidden;
}
header {
	width: 100%;
	background-color: #f8f9f9;
}
header ul {
	/*width: 320px;*/
	width: 100%;
	margin: auto;
	border-bottom: 1px solid #b2b2b2;
	/*padding-right: .7rem;*/
	padding-bottom: .7rem;
	margin-bottom: 1.4rem;
}
.exception {
	margin-bottom: 0;
}
.exception li h1 {
	text-align: center;
}
header ul li {
	display: inline-block;
	width: 32.5%;
	text-align: center;
}
.content {
	width: 100%;
}
header.phone {
	margin-top: 1.4rem;
}
.phone {
	width: 320px;
	margin: 0 auto;
	/*background: red;*/
}
li.back:before {
	color: rgba(18,132,255,1);
	content: "<";
	font-size: 1.25rem; /*7,51pt*/
}
li.back {
	/*width: 33%;*/
	text-align: left;
	margin-left: .4rem;
}
li.back a {
	color: rgba(18,132,255,1);
	font-size: 1.25rem; /*7,51pt*/
	text-decoration: none;
}
h1 {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: left;
	/*position: relative;
	left: 0rem;*/
}
h1 a {
	font-size: 1.25rem;
	font-weight: 500;
	/*position: relative;
	left: 0rem;*/
	text-decoration: none;
	color: #ff3824;
}
h1.space {
	/*left: .4rem;*/
}
li.confirm_btn, li.more, li.today {
	width: 30%;
	text-align: right;
	position: relative;
	right: .3rem;
}
li.more a, li.today a {
	text-decoration: none;
	font-size: 1.8rem;
	color: rgba(18,132,255,1);
}
li.today a {
	font-size: 1.15rem;
}
li#var1 {
	/*width: 28.15%;*/
}
#register, #ok {
	height: 2rem;
	border: none;
	font-size: 1.25rem;
	color: rgba(18,132,255,1);
	background-color: #f8f9f9;
}
.logo {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.logo img {
	margin: 1.25rem auto 1.25rem;
	width: 100px;
	height: 100px;
}
ol, ul {
	list-style: none;
}
ul.champs {
	background-color: #f8f9f9;
	width: 100%;
}
li.section_search {
	border-radius: 5px;
	display: block;
	width: 288px;
	margin: .8rem auto 0;
	height: 1.6rem;
	background-color: #fff;
	padding: .6rem 0 .2rem .6rem;
	text-align: left;
}
.search_logo {
	width: 18px;
	height: 18px;
}
#search {
	outline: none;
	border: none;
	font-size: 1rem;
	position: relative;
	top: -.15rem;
	width: 90%;
}
.two_elem {
	margin-left: 33%;
}
ul.past_day {
	border: 2px solid #8e8e93;
	border-radius: 5px;
	color: #8e8e93;
	width: 97%;
	margin: 1rem auto;
}
ul.past_day li {
	padding: 1rem .4rem;
}
ul.past_day li h3 {
	font-weight: 100;
}
form, .active_day {
	width: 97%;
	text-align: left;
	/*position: relative;
	left: .35rem;*/
	line-height: 1.6;
	border-radius: 5px;
	margin: 0 auto;
}
form.synchro, .active_day {
	border: 2px solid #54c7fc;
}
.active_day {
	left: 0;
}
form.compte {
	border: 2px solid #ff3824;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}
fieldset {
	border: none;
}
legend, h4, .active_day li h3.date, .back_to_the_future li h3.date {
	width: 97%;
	text-align: left;
	margin-left: .5rem;
	padding: .8rem 0 .6rem 0;
	font-size: 1rem;
}
.mars2015, .avril2015 {
	border: 2px solid #54c7fc;
	border-radius: 5px;
	width: 90%;
	margin: auto;
}
.avril2015 {
	border-color: rgba(18,132,255,1);
	margin-top: 1rem;
	margin-bottom: 4rem;
}
h4 {
	font-weight: 100;
}
.mars2015 h4 {
	color: #54c7fc;
}
.avril2015 h4 {
	color: rgba(18,132,255,1);
}
.mars2015 table, .avril2015 table {
	width: 92%;
	display: inline-block;
	text-align: center;
	border-top: 1px solid #54c7fc;
	padding-top: .5rem;
	padding-left: .75rem;
	padding-right: .75rem;
}
.mars2015 table tr th, .avril2015 table tr th {
	width: 14%;
}
.avril2015 table {
	border-color: rgba(18,132,255,1);
}
.mars2015 table tr th, .avril2015 table tr th {
	font-weight: 400;
}
.active_day li h3.date {
	font-weight: 100;
	font-size: 1.15rem;
}
form.synchro fieldset legend, .active_day li h3.date {
	color: #54c7fc;
}
form.compte fieldset legend {
	color: #ff3824;
}
form fieldset ol {
	width: 100%;
}
#first_decal_synchro, .active_day li table.planning {
	border-top: 1px solid #54c7fc;
	width: 100%;
}
table tr td{
	/*display: inline-block;*/
	/*width: 15.45%;*/
	width: 35px;
	height: 35px;
}
td.tab_left {
	border-right: 1px solid #54c7fc;
	text-align: center;
}
td.tab_right {
	border-left: 1px solid #54c7fc;
	padding-left: 1.4rem;
}
table.planning {
	border-bottom: 1px solid #54c7fc;
	padding-bottom: 1.4rem;
	color: #54c7fc;
}
td.double_line {
	position: relative;
	top: .7rem;
}
td.tab_split {
	height: 1.6rem;
	border-bottom: 1px solid #8e8e93;
}
td.tab_left_split {
	height: 1.6rem;
	border-right: 1px solid #54c7fc;
	border-bottom: 1px solid #8e8e93;
	color: #8e8e93;
	text-align: center;
}
td.tab_right_split {
	height: 1.6rem;
	border-left: 1px solid #54c7fc;
	border-bottom: 1px solid #8e8e93;
	padding-right: 1.5rem;
}
.todo {
	width: 100%;
}
.todo ul li {
	border-bottom: 1px solid #8e8e93;
	height: 2.2rem;
	padding-top: .6rem;
}
.todo ul li input {
	border: none;
	color: #8e8e93;
	font-size: .95rem;
	outline: none;
	margin-left: 1rem;
}
.more ul li {
	border: none;
	padding-bottom: .3rem;
}
.more ul li input.add {
	width: 70%;
	margin-top: .35rem;
}
.more ul li input.ok {
	color: #54c7fc;
	background-color: #fff;
	font-size: 1rem;
	text-align: right;
	width: 3rem;
}
ul.back_to_the_future {
	border: 2px solid rgba(18,132,255,1);
	border-radius: 5px;
	width: 97.5%;
	margin: 1rem auto;
}
.back_to_the_future .todo, .back_to_the_future .planning {
	border-top: 1px solid rgba(18,132,255,1);
	border-bottom: none;
	margin-top: .4rem;
}
.back_to_the_future li h3.date {
	color: rgba(18,132,255,1);
	font-size: 1.15rem;
	font-weight: 100;
}
.back_to_the_future table.planning {
	width: 100%;
	color: rgba(18,132,255,1);
	margin-top: .4rem;
	padding-top: .5rem;
	padding-bottom: 0;
}
.back_to_the_future table.planning tr td {
	margin-top: 1rem;
	border-right: 1px solid;
}
.back_to_the_future table.planning tr td.tab_right {
	border: none;
}
.back_to_the_future .todo ul.future_adjust {
	padding-top: .3rem;
}
.back_to_the_future li .todo .more ul li .ok {
	color: rgba(18,132,255,1);
}
#first_decal_compte {
	border-top: 1px solid #ff3824;
}
.decal {
	padding: .8rem 0 0 .8rem;
}
form.connect fieldset ol li.decal {
	padding-left: 0;
	margin-left: -.4rem;
	width: 105.5%; /*Bizarre ! À revoir*/
}
#ical, #googlecal, #extranet /*input [type="checkbox"]*/ {
	border: 1px solid #8e8e93;
	width: 1rem;
	height: 1rem;
	box-shadow: none;
	/*border-radius: 150px;
	-webkit-border-radius: 150px;*/
}
label {
	margin-left: 2.5rem;
	color: #8e8e93;
}
.disappear {
	display: none;
}
#link_extranet {
	margin-left: 3.8rem;
	margin-top: .5rem;
	width: 70%;
	margin-bottom: 1rem;
	border: 1px solid #54c7fc;
}
input:checked ~ label {
	color: #54c7fc;
}
.area {
	padding: .5rem 0 .5rem .5rem;
	font-size: .8rem;
	border: 1px solid #8e8e93;
	margin-top: .4rem;
	margin-left: .4rem;
	width: 88%;
}
.simule {
	margin-top: 1rem;
	margin-left: 1.2rem;
}
#last_compte {
	margin-top: .5rem;
	margin-bottom: .8rem;
}
li.simule input:checked ~ label {
	color: #ff3824;
}
.moit {
	width: 48%;
	display: inline-block;
	margin-top: 1rem;
	margin-left: .2rem;
}
.moit label {
	margin-left: 0;
}
.moit a {
	color: #8e8e93;
	font-size: .8rem;
}
#connexion {
	border: 1px solid #54c7fc;
	background-color: #fff;
	text-align: center;
	width: 96.5%;
	font-size: 1rem;
	color: #54c7fc;
	padding: .4rem 0;
	margin-top: 1rem;
	margin-left: .6rem;
	border-radius: 5px;
}
a.more {
	display: block;
	position: fixed;
	right: 30.85rem;
	bottom: 1rem;
	/*border: 1px solid #44db5e;*/
	border: none;
	border-radius: 50px;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 1.1;
	font-size: 1.7rem;
	/*background-color: #fff;*/
	background-color: #44db5e;
	text-decoration: none;
	/*color: #44db5e;*/
	color: #fff;
	box-shadow: 1px 1px 5px #b2b2b2;
}