* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	margin: auto;
}
body {
	font-family: "helvetica",sans-serif;
	font-weight: 100;
	font-size: 16px;
	max-width: 320px;
	overflow-x: hidden;
}
header {
	margin-top: 1.5rem;
	width: 100%;
}
header ul {
	width: 320px;
	border-bottom: 1px solid #b2b2b2;
	padding-right: .7rem;
	padding-bottom: .7rem;
	margin-bottom: 1.4rem;
}
header ul li {
	display: inline-block;
}
.content {
	width: 100%;
}
li.back:before {
	color: rgba(18,132,255,1);
	content: "<";
	font-size: 1.25rem; /*7,51pt*/
}
li.back {
	width: 33%;
	text-align: left;
	margin-left: .4rem;
}
li.back a {
	color: rgba(18,132,255,1);
	font-size: 1.25rem; /*7,51pt*/
	text-decoration: none;
}
h1 {
	font-size: 1.25rem;
	font-weight: 500;
	position: relative;
	left: 0rem;
}
h1.space {
	left: .4rem;
}
li.confirm_btn {
	width: 33%;
	text-align: right;
	position: relative;
	left: .35rem;
}
li#var1 {
	width: 28.15%;
}
#register, #ok {
	height: 2rem;
	border: none;
	font-size: 1.25rem;
	color: rgba(18,132,255,1);
	background-color: #fff;
}
.logo {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.logo img {
	margin: 1.25rem auto 1.5rem;
	width: 100px;
	height: 100px;
}
ol, ul {
	list-style: none;
}
form {
	width: 92%;
	margin: auto;
	position: relative;
	left: .35rem;
	border-radius: 5px;
	line-height: 1.6;
}
form.synchro {
	border: 2px solid #54c7fc;
}
form.compte {
	border: 2px solid #ff3824;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}
fieldset {
	border: none;
}
legend {
	width: 100%;
	text-align: left;
	margin-left: .5rem;
	padding: .8rem 0 .6rem 0;
	font-size: 1rem;
}
form.synchro fieldset legend {
	color: #54c7fc;
}
form.compte fieldset legend {
	color: #ff3824;
}
form fieldset ol {
	width: 100%;
}
#first_decal_synchro {
	border-top: 1px solid #54c7fc;
}
#first_decal_compte {
	border-top: 1px solid #ff3824;
}
.decal {
	padding: .8rem 0 0 .8rem;
}
form.connect fieldset ol li.decal {
	padding-left: 0;
	margin-left: -.4rem;
	width: 105.5%; /*Bizarre ! À revoir*/
}
#ical, #googlecal, #extranet /*input [type="checkbox"]*/ {
	border: 1px solid #8e8e93;
	width: 1rem;
	height: 1rem;
	box-shadow: none;
	/*border-radius: 150px;
	-webkit-border-radius: 150px;*/
}
label {
	margin-left: 2.5rem;
	color: #8e8e93;
}
.disappear {
	display: none;
}
#link_extranet {
	margin-left: 3.8rem;
	margin-top: .5rem;
	width: 70%;
	margin-bottom: 1rem;
	border: 1px solid #54c7fc;
}
input:checked ~ label {
	color: #54c7fc;
}
.area {
	padding: .5rem 0 .5rem .5rem;
	font-size: .8rem;
	border: 1px solid #8e8e93;
	margin-top: .4rem;
	margin-left: .4rem;
	width: 88%;
}
.simule {
	margin-top: 1rem;
	margin-left: 1.2rem;
}
#last_compte {
	margin-top: .5rem;
	margin-bottom: .8rem;
}
li.simule input:checked ~ label {
	color: #ff3824;
}
.moit {
	width: 49%;
	display: inline-block;
	margin-top: 1rem;
}
.moit label {
	margin-left: 0;
}
.moit a {
	color: #8e8e93;
	font-size: .8rem;
}
#connexion {
	border: 1px solid #54c7fc;
	background-color: #fff;
	text-align: center;
	width: 96.5%;
	font-size: 1rem;
	color: #54c7fc;
	padding: .4rem 0;
	margin-top: 1rem;
	border-radius: 4px;
}